@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

h1, h2, h3, h4, h5, h6, p, div, span {
    font-family: "Roboto";
}

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    cursor: default;
}
